h1, h2, h3, h4 {
  text-align: center;

}

.well {
  border-radius: 20px;
}

body {
  background-color: #F0EDBB;
}

.container {
  background-color: #FFFCC4;
  border-radius: 20px;
}

#link-well {
  margin: 30px;
  background-color: #68AB97;
  border-color: #00585F;
}

#link-intro {
  background-color: #FFFCC4;
  border-color: #A6A47F;
  margin: 20px;
}

#link-format div div .well {
  margin: 20px;
  background-color: #FFFCC4;
  border-color: #A6A47F;
}

#link-format div div div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 75%;
}
